@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

.border {
  border: 2px solid red !important;
}

#lock-button {
  color: #fff;
}

.myButton {
  border-radius: 5px !important;
  border: 1px solid #888 !important;
  text-transform: capitalize !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 16px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border: 5px solid #292c3b;
  box-shadow: inset 0 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #d4d4d8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* for Firefox */
html {
  scrollbar-color: #3d4a59;
  scrollbar-width: thin;
}
